@font-face {
  font-family: 'Amazing Grotesk Demi';
  src: url("../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.eot") format("opentype");
  src: url("../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.woff") format("woff");
  src: url("../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato/Lato-Light.eot") format("opentype");
  src: url("../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/Lato-Light.woff") format("woff");
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/Lato-Regular.eot") format("opentype");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/Lato-Regular.woff") format("woff");
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato/Lato-Bold.eot") format("opentype");
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/Lato-Bold.woff") format("woff");
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato/Lato-Black.eot") format("opentype");
  src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/Lato-Black.woff") format("woff");
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato Heavy';
  src: url("../fonts/Lato/Lato-Heavy.eot") format("opentype");
  src: url("../fonts/Lato/Lato-Heavy.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/Lato-Heavy.woff") format("woff");
  src: url("../fonts/Lato/Lato-Heavy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.btn {
  font-size: 1.8em;
  height: 2.8em;
  color: #01295F;
  background-color: #FFB30F;
  padding: 0.6em 1em;
  -webkit-border-radius: 1.4em;
          border-radius: 1.4em;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  .btn span {
    text-align: center; }
  .btn:active {
    -webkit-transform: translateY(0.1em);
        -ms-transform: translateY(0.1em);
            transform: translateY(0.1em);
    outline: none; }
  .btn:hover {
    background-color: #FF9B05;
    color: #01295F; }

.item:focus {
  outline: none; }

/* Bg_container */
.bg_container {
  margin: 0 auto;
  max-width: 192em;
  overflow: hidden;
  width: 100%;
  background-image: url(../img/bg/main_bg_1.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 0;
  position: relative; }
  .bg_container:before {
    position: absolute;
    content: '';
    display: block;
    width: 112em;
    height: 130em;
    background-image: url("../img/bg/polygon.svg");
    background-repeat: no-repeat;
    top: -53em;
    left: 50%;
    -webkit-transform: translateX(-13.5em);
        -ms-transform: translateX(-13.5em);
            transform: translateX(-13.5em); }

/* --------------------------------------------- */
/* Bg_container responsive */
@media (max-width: 1400px) {
  .bg_container {
    background-image: url(../img/bg/main_bg_2.png); } }

@media (max-width: 1380px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(42em);
        -ms-transform: translateX(42em);
            transform: translateX(42em); } }

@media (max-width: 1250px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(32em);
        -ms-transform: translateX(32em);
            transform: translateX(32em); } }

@media (max-width: 1180px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(22em);
        -ms-transform: translateX(22em);
            transform: translateX(22em); } }

@media (max-width: 1070px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(18em);
        -ms-transform: translateX(18em);
            transform: translateX(18em); } }

@media (max-width: 960px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(8em);
        -ms-transform: translateX(8em);
            transform: translateX(8em); } }

@media (max-width: 910px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(4em);
        -ms-transform: translateX(4em);
            transform: translateX(4em); } }

@media (max-width: 870px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(2em);
        -ms-transform: translateX(2em);
            transform: translateX(2em); } }

@media (max-width: 834px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); } }

@media (max-width: 670px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
            transform: translateX(-5%); } }

@media (max-width: 640px) {
  .bg_container {
    background-image: url(../img/bg/main_bg_4.png); }
    .bg_container:before {
      left: 0;
      -webkit-transform: translateX(-35%);
          -ms-transform: translateX(-35%);
              transform: translateX(-35%); } }

@media (max-width: 600px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(-36%);
        -ms-transform: translateX(-36%);
            transform: translateX(-36%); } }

@media (max-width: 540px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(-38%);
        -ms-transform: translateX(-38%);
            transform: translateX(-38%); } }

@media (max-width: 420px) {
  .bg_container:before {
    left: 0;
    -webkit-transform: translateX(-43%);
        -ms-transform: translateX(-43%);
            transform: translateX(-43%); } }

/*--------------------------------------------------------------------------------*/
.bg_container_2 {
  margin: 0 auto;
  max-width: 192em;
  overflow: hidden;
  width: 100%;
  background-image: url(../img/bg/main_bg_3.png);
  background-repeat: no-repeat;
  background-position-x: 51%;
  background-position-y: -2.1%; }

.btn {
  font-size: 1.8em;
  height: 2.8em;
  color: #01295F;
  background-color: #FFB30F;
  padding: 0.6em 1em;
  -webkit-border-radius: 1.4em;
          border-radius: 1.4em;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  .btn span {
    text-align: center; }
  .btn:active {
    -webkit-transform: translateY(0.1em);
        -ms-transform: translateY(0.1em);
            transform: translateY(0.1em);
    outline: none; }
  .btn:hover {
    background-color: #FF9B05;
    color: #01295F; }

.item:focus {
  outline: none; }

html {
  font-size: 10px; }

body {
  font-family: 'Lato Regular', sans-serif;
  margin: 0 auto;
  padding: 0;
  color: #01295F; }

.row-padding {
  padding: 0; }

.container {
  max-width: 130.6em; }

ul li {
  list-style: none; }

/*-------------------------------------------------------------------------*/
/* Header */
.header {
  padding-top: 1.7em;
  width: 100%;
  margin-bottom: 44em;
  /* Col paddings */
  /* Header Top Block */
  /* Main screen */ }
  .header__nav, .header__logo, .header__tel, .header__mainScreen {
    padding: 0; }
  .header__top {
    margin-bottom: 9.2em; }
  .header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.2em; }
    .header__menu_toggle {
      opacity: 0;
      display: none;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .header__burger {
    display: none;
    width: 3.6em;
    height: 2em;
    margin: 0 3.5em 0 0;
    position: relative; }
    .header__burger span {
      display: block;
      position: absolute;
      content: '';
      width: 3.1em;
      height: 0.4em;
      top: 0.8em;
      background-color: #ffffff;
      -webkit-border-radius: 0.1em;
              border-radius: 0.1em; }
      .header__burger span:before, .header__burger span:after {
        display: block;
        position: absolute;
        content: '';
        height: 0.4em;
        background-color: #ffffff;
        -webkit-border-radius: 0.1em;
                border-radius: 0.1em; }
      .header__burger span:before {
        width: 3.6em;
        bottom: 0.8em; }
      .header__burger span:after {
        width: 3.1em;
        top: 0.8em;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
    .header__burger:hover {
      cursor: pointer; }
    .header__burger span.active:after {
      width: 3.6em; }
  .header__menu_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__menu_item:not(:last-child) {
    margin: 0 3.1em 0 0; }
  .header__menu_link {
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.8em;
    color: #ffffff; }
    .header__menu_link:hover {
      color: #ffffff; }
  .header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header__logo_img {
      margin: 0 4.8em 0 0; }
  .header__tel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__phone {
    font-family: 'Lato Regular', sans-serif;
    font-size: 2.1em;
    color: #ffffff;
    margin-top: 0.7em; }
    .header__phone:hover {
      color: #ffffff; }
  .header__mainScreen_title {
    font-family: 'Amazing Grotesk Demi', sans-serif;
    font-size: 6.4em;
    color: #ffffff;
    margin-bottom: 0.01em;
    text-align: end; }
  .header__mainScreen_subtitle {
    color: #ffffff;
    font-size: 2.1em;
    margin-bottom: 1.6em;
    text-align: end; }
  .header__mainScreen_description {
    color: #ffffff;
    font-size: 2.1em;
    text-align: end;
    margin-bottom: 3.8em; }
  .header__mainScreen_call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__mainScreen_link {
    width: 12.4em; }

@media (max-width: 1200px) {
  .header__top {
    margin-bottom: 6em; } }

@media (max-width: 1280px) {
  .header__burger {
    margin: 1.7em 2em 0 0; }
  .header__menu_item:not(:last-child) {
    margin: 0 1em 0 0; } }

@media (max-width: 1200px) {
  .header__logo_img {
    margin: 0 0 1em; } }

@media (max-width: 1010px) {
  .header__mainScreen_title {
    font-size: 5.6em; }
  .header__mainScreen_subtitle, .header__mainScreen_description {
    font-size: 2em; } }

@media (max-width: 810px) {
  .header__burger {
    display: block; }
  .header__menu {
    margin: 0; }
    .header__menu_item {
      display: none; } }

@media (max-width: 800px) {
  .header__logo_img {
    width: 14em;
    height: 5.2em;
    margin: 0 0 0.4em; }
  .header__phone {
    margin: 0;
    font-size: 1.8em; } }

@media (max-width: 772px) {
  .header__mainScreen_title {
    font-size: 5em; }
  .header__mainScreen_subtitle, .header__mainScreen_description {
    font-size: 1.6em; } }

@media (max-width: 640px) {
  .header {
    margin-bottom: 36em; }
    .header__top {
      margin-bottom: 12em; }
    .header__mainScreen_title, .header__mainScreen_subtitle, .header__mainScreen_description {
      text-align: center; }
    .header__mainScreen_description {
      margin-bottom: 6em; }
    .header__mainScreen_call {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media (max-width: 494px) {
  .header__mainScreen_title {
    font-size: 4em; } }

@media (max-width: 404px) {
  .header__mainScreen_title {
    font-size: 3.6em; } }

@media (max-width: 374px) {
  .header__mainScreen_title {
    font-size: 3em; } }

@media (max-width: 354px) {
  .header__mainScreen_description {
    margin: 0 auto 3.6em;
    max-width: 12em; } }

@media (max-width: 420px) {
  .header__logo_img {
    width: 10em;
    height: 3.8em;
    margin: 0 0 0.2em; }
  .header__burger {
    margin: 1.4em 2em 0 0; }
  .header__phone {
    font-size: 1.4em; } }

/*-------------------------------------------------------------*/
/* Header menu responsive */
@media (max-width: 810px) {
  .header__menu {
    position: relative; }
  .header__menu_list.responsive {
    display: block;
    position: absolute;
    top: 4em;
    padding: 2em 10em 2em 2em;
    background-color: #4A90BA;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-border-radius: 0.5em;
            border-radius: 0.5em;
    margin: 2em 0 0;
    z-index: 5;
    -webkit-box-shadow: 0.1em 0.2em 1.5em rgba(0, 0, 0, 0.3);
            box-shadow: 0.1em 0.2em 1.5em rgba(0, 0, 0, 0.3); }
  .header__menu_list.responsive .header__menu_item {
    display: block;
    margin: 0 0 1em; }
    .header__menu_list.responsive .header__menu_item a {
      font-size: 2.2em; } }

@media (max-width: 366px) {
  .header__menu_list.responsive {
    padding: 2em 6em 2em 2em; } }

/* -------------------------------------------------------------- */
/* Lessons block */
.lessons {
  margin-bottom: 9.5em;
  /* Block of cards */ }
  .lessons__title {
    font-family: 'Amazing Grotesk Demi', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 0 auto 4.1em;
    max-width: 90%; }
  .lessons__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .lessons__cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .lessons__card {
    width: 55em;
    height: 38em;
    -webkit-border-radius: 2.6em;
            border-radius: 2.6em;
    -webkit-box-shadow: 0.1em 0.1em 3.6em rgba(1, 41, 95, 0.2);
            box-shadow: 0.1em 0.1em 3.6em rgba(1, 41, 95, 0.2); }
  .lessons__img {
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-background-size: cover;
            background-size: cover; }
    .lessons__img_znatok {
      z-index: 2;
      -webkit-transform: translateX(4.3em);
          -ms-transform: translateX(4.3em);
              transform: translateX(4.3em);
      background-image: url("../img/photo/znatok.jpg");
      background-position-y: 54%;
      background-position-x: 0.01em; }
    .lessons__img_radio {
      z-index: 1;
      -webkit-transform: translateX(-0.4em);
          -ms-transform: translateX(-0.4em);
              transform: translateX(-0.4em);
      background-image: url("../img/photo/radio.jpg");
      background-position-x: -0.9em; }
    .lessons__img_tools {
      z-index: 1;
      -webkit-transform: translateX(2.9em);
          -ms-transform: translateX(2.9em);
              transform: translateX(2.9em);
      background-image: url("../img/photo/tools.jpg");
      background-position-x: 0.1em;
      width: 72.4em;
      height: 49.4em; }
    .lessons__img_blender {
      z-index: 1;
      -webkit-transform: translateX(1.5em);
          -ms-transform: translateX(1.5em);
              transform: translateX(1.5em);
      background-image: url("../img/photo/blender.png");
      background-position-x: -5em;
      width: 63em;
      height: 41em; }
  .lessons__itemTitle {
    font-family: 'Lato Bold', sans-serif;
    font-size: 2.8em;
    margin-bottom: 1.3em; }
  .lessons__itemDescription {
    font-family: 'Lato Light', sans-serif;
    font-size: 2.4em;
    max-width: 17em;
    line-height: 1.3; }
  .lessons__text {
    background-color: #ffffff;
    padding: 6.9em 6.1em; }
    .lessons__text_znatok {
      z-index: 1;
      -webkit-transform: translateX(3.6em);
          -ms-transform: translateX(3.6em);
              transform: translateX(3.6em);
      margin-top: 12em; }
    .lessons__text_radio {
      z-index: 2;
      margin-top: 12.6em;
      -webkit-transform: translateX(1em);
          -ms-transform: translateX(1em);
              transform: translateX(1em); }
    .lessons__text_tools {
      z-index: 2;
      margin-top: 2.6em;
      -webkit-transform: translateX(1.6em);
          -ms-transform: translateX(1.6em);
              transform: translateX(1.6em); }
    .lessons__text_blender {
      z-index: 2;
      margin-top: 7.7em;
      -webkit-transform: translateX(3.8em);
          -ms-transform: translateX(3.8em);
              transform: translateX(3.8em); }
  .lessons__znatok {
    position: relative;
    margin-bottom: 22em; }
    .lessons__znatok:before {
      position: absolute;
      content: '';
      display: block;
      width: 74em;
      height: 74em;
      background-image: url("../img/bg/znatok_poligon.svg");
      background-repeat: no-repeat;
      left: 0;
      bottom: 0;
      -webkit-transform: translate(7.9em, 7em);
          -ms-transform: translate(7.9em, 7em);
              transform: translate(7.9em, 7em); }
  .lessons__radio {
    position: relative;
    margin-bottom: 24em; }
    .lessons__radio:before {
      position: absolute;
      content: '';
      display: block;
      width: 74em;
      height: 80em;
      background-image: url("../img/bg/radio_poligon.svg");
      background-repeat: no-repeat;
      left: 0;
      bottom: 0;
      -webkit-transform: translate(34em, 16em);
          -ms-transform: translate(34em, 16em);
              transform: translate(34em, 16em); }
  .lessons__tools {
    position: relative;
    margin-bottom: 22.5em; }
    .lessons__tools:before {
      position: absolute;
      content: '';
      display: block;
      width: 74em;
      height: 80em;
      background-image: url("../img/bg/tools_poligon.svg");
      background-repeat: no-repeat;
      left: 0;
      bottom: 0;
      -webkit-transform: translate(30.5em, 18.5em);
          -ms-transform: translate(30.5em, 18.5em);
              transform: translate(30.5em, 18.5em); }
  .lessons__blender {
    position: relative;
    margin-bottom: 24em; }
    .lessons__blender:before {
      position: absolute;
      content: '';
      display: block;
      width: 74em;
      height: 80em;
      background-image: url("../img/bg/blender_poligon.svg");
      background-repeat: no-repeat;
      left: 0;
      bottom: 0;
      -webkit-transform: translate(8.5em, 25.5em);
          -ms-transform: translate(8.5em, 25.5em);
              transform: translate(8.5em, 25.5em); }

/* -------------------------------------------------------------------------- */
/* Lessons Responsive */
@media (max-width: 1400px) {
  .lessons {
    margin-bottom: 10em; }
    .lessons__title {
      margin: 0 auto 3em; }
    .lessons__cards {
      margin-bottom: 16em; }
    .lessons__img_tools, .lessons__img_blender {
      width: 55em;
      height: 38em; }
    .lessons__img_znatok, .lessons__img_tools {
      -webkit-transform: translateX(0.5em);
          -ms-transform: translateX(0.5em);
              transform: translateX(0.5em); }
    .lessons__img_radio, .lessons__img_blender {
      -webkit-transform: translateX(-0.5em);
          -ms-transform: translateX(-0.5em);
              transform: translateX(-0.5em); }
    .lessons__text_znatok, .lessons__text_tools {
      -webkit-transform: translateX(-0.5em);
          -ms-transform: translateX(-0.5em);
              transform: translateX(-0.5em); }
    .lessons__text_radio, .lessons__text_blender {
      -webkit-transform: translateX(0.5em);
          -ms-transform: translateX(0.5em);
              transform: translateX(0.5em); }
    .lessons__znatok:before, .lessons__radio:before, .lessons__tools:before, .lessons__blender:before {
      -webkit-background-size: contain;
              background-size: contain; }
    .lessons__radio:before, .lessons__tools:before, .lessons__blender:before {
      width: 54em;
      height: 60em; }
    .lessons__radio:before {
      -webkit-transform: translate(28em, 0);
          -ms-transform: translate(28em, 0);
              transform: translate(28em, 0); }
    .lessons__tools:before, .lessons__blender:before {
      -webkit-transform: translate(26em, 10em);
          -ms-transform: translate(26em, 10em);
              transform: translate(26em, 10em); } }

@media (max-width: 1180px) {
  .lessons__img_radio {
    background-position-x: 0.01em; }
  .lessons__card {
    width: 44em;
    height: 28em; }
  .lessons__text {
    padding: 4em 4em; }
  .lessons__itemTitle {
    font-size: 2.6em;
    margin-bottom: 0.8em; }
  .lessons__itemDescription {
    font-size: 2.2em; }
  .lessons__znatok:before, .lessons__radio:before, .lessons__tools:before, .lessons__blender:before {
    width: 54em;
    height: 60em; }
  .lessons__radio:before, .lessons__tools:before, .lessons__blender:before {
    width: 54em;
    height: 50em; } }

@media (max-width: 920px) {
  .lessons__cards {
    display: block; }
    .lessons__cards:not(:last-child) {
      margin-bottom: 8em; }
  .lessons__card {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .lessons__img_radio, .lessons__img_blender {
    -webkit-transform: translateY(-0.4em);
        -ms-transform: translateY(-0.4em);
            transform: translateY(-0.4em); }
  .lessons__text_znatok, .lessons__text_radio, .lessons__text_tools, .lessons__text_blender {
    margin-top: 0; }
  .lessons__text_znatok, .lessons__text_tools {
    -webkit-transform: translateY(-2em);
        -ms-transform: translateY(-2em);
            transform: translateY(-2em); }
  .lessons__text_radio, .lessons__text_blender {
    -webkit-transform: translateY(2em);
        -ms-transform: translateY(2em);
            transform: translateY(2em); } }

@media (max-width: 510px) {
  .lessons__card {
    width: 30em;
    height: 22em; }
  .lessons__text {
    padding: 2.6em; }
  .lessons__itemTitle {
    font-size: 2.2em;
    margin-bottom: 0.6em; }
  .lessons__itemDescription {
    font-size: 1.6em; } }

@media (max-width: 480px) {
  .lessons__title {
    font-size: 3em; } }

@media (max-width: 360px) {
  .lessons__title {
    font-size: 2.6em; } }

/* ---------------------------------------------------------------------- */
/* Features Block */
.features {
  margin-bottom: 7em; }
  .features__title {
    font-family: 'Amazing Grotesk Demi', sans-serif;
    font-size: 4em;
    max-width: 90%;
    text-align: center;
    margin: 0 auto 3.1em; }
  .features__block {
    margin: 0 auto 8em; }
  .features__text {
    position: absolute;
    z-index: 2;
    font-family: 'Lato Black', sans-serif;
    font-size: 2.2em;
    max-width: 6em;
    top: 0;
    left: 0; }
    .features__text_fiveYears {
      -webkit-transform: translate(1.6em, 2.6em);
          -ms-transform: translate(1.6em, 2.6em);
              transform: translate(1.6em, 2.6em); }
    .features__text_100students {
      -webkit-transform: translate(2.7em, 2.7em);
          -ms-transform: translate(2.7em, 2.7em);
              transform: translate(2.7em, 2.7em); }
    .features__text_minigroup {
      -webkit-transform: translate(4em, 2.4em);
          -ms-transform: translate(4em, 2.4em);
              transform: translate(4em, 2.4em); }
    .features__text_topPlaces, .features__text_famAtm, .features__text_courses {
      max-width: 16em; }
    .features__text_topPlaces {
      -webkit-transform: translate(0, 2.3em);
          -ms-transform: translate(0, 2.3em);
              transform: translate(0, 2.3em); }
    .features__text_famAtm {
      -webkit-transform: translate(5.5em, 4.8em);
          -ms-transform: translate(5.5em, 4.8em);
              transform: translate(5.5em, 4.8em); }
    .features__text_courses {
      -webkit-transform: translate(1.4em, 4.8em);
          -ms-transform: translate(1.4em, 4.8em);
              transform: translate(1.4em, 4.8em); }
    .features__text_teachers {
      -webkit-transform: translate(6em, 3.4em);
          -ms-transform: translate(6em, 3.4em);
              transform: translate(6em, 3.4em); }
  .features__bgmark {
    position: relative;
    z-index: 1;
    display: inline-block; }
    .features__bgmark_100students {
      -webkit-transform: translate(-6em, 0);
          -ms-transform: translate(-6em, 0);
              transform: translate(-6em, 0); }
    .features__bgmark_minigroup {
      -webkit-transform: translate(-3em, 0);
          -ms-transform: translate(-3em, 0);
              transform: translate(-3em, 0); }
    .features__bgmark_topPlaces {
      -webkit-transform: translate(0.5em, -7em);
          -ms-transform: translate(0.5em, -7em);
              transform: translate(0.5em, -7em); }
    .features__bgmark_famAtm {
      left: 0;
      top: 0;
      -webkit-transform: translate(12em, 0);
          -ms-transform: translate(12em, 0);
              transform: translate(12em, 0); }
      .features__bgmark_famAtm-1 {
        position: relative; }
      .features__bgmark_famAtm-2 {
        position: absolute;
        bottom: -0.3em;
        left: 0;
        -webkit-transform: translateX(-1em);
            -ms-transform: translateX(-1em);
                transform: translateX(-1em); }
    .features__bgmark_courses {
      -webkit-transform: translate(2.7em, 0);
          -ms-transform: translate(2.7em, 0);
              transform: translate(2.7em, 0); }
      .features__bgmark_courses-1 {
        position: relative; }
      .features__bgmark_courses-2 {
        position: absolute;
        bottom: -0.3em;
        left: 50%;
        -webkit-transform: translateX(-8.7em);
            -ms-transform: translateX(-8.7em);
                transform: translateX(-8.7em); }
    .features__bgmark_teachers {
      -webkit-transform: translateX(8em);
          -ms-transform: translateX(8em);
              transform: translateX(8em); }

/* ---------------------------------------------------------- */
/* Features Responsive */
@media (max-width: 1199px) {
  .features__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .features__100students {
    margin: 0 auto 14em; }
  .features__topPlaces {
    margin: 0 auto 4em; }
  .features__courses {
    margin: 0 auto 16em; }
  .features__text {
    position: static; }
    .features__text_fiveYears {
      -webkit-transform: translate(-1.8em, 2.6em);
          -ms-transform: translate(-1.8em, 2.6em);
              transform: translate(-1.8em, 2.6em); }
    .features__text_100students {
      -webkit-transform: translate(-8.3em, 2.7em);
          -ms-transform: translate(-8.3em, 2.7em);
              transform: translate(-8.3em, 2.7em); }
    .features__text_minigroup {
      -webkit-transform: translate(-6.3em, 2.5em);
          -ms-transform: translate(-6.3em, 2.5em);
              transform: translate(-6.3em, 2.5em); }
    .features__text_topPlaces {
      -webkit-transform: translate(-11.8em, 2.2em);
          -ms-transform: translate(-11.8em, 2.2em);
              transform: translate(-11.8em, 2.2em);
      max-width: 16em; }
    .features__text_famAtm {
      -webkit-transform: translate(-5.5em, 7em);
          -ms-transform: translate(-5.5em, 7em);
              transform: translate(-5.5em, 7em); }
    .features__text_minigroup {
      -webkit-transform: translate(-3.7em, 2em);
          -ms-transform: translate(-3.7em, 2em);
              transform: translate(-3.7em, 2em); }
    .features__text_courses {
      -webkit-transform: translate(-17.1em, 6.9em);
          -ms-transform: translate(-17.1em, 6.9em);
              transform: translate(-17.1em, 6.9em); }
    .features__text_topPlaces {
      -webkit-transform: translate(-10.2em, 2.2em);
          -ms-transform: translate(-10.2em, 2.2em);
              transform: translate(-10.2em, 2.2em); }
    .features__text_teachers {
      -webkit-transform: translate(-0.1em, 5.8em);
          -ms-transform: translate(-0.1em, 5.8em);
              transform: translate(-0.1em, 5.8em); }
  .features__bgmark {
    position: static; }
    .features__bgmark_famAtm {
      -webkit-transform: translate(4em, 4.8em);
          -ms-transform: translate(4em, 4.8em);
              transform: translate(4em, 4.8em); }
    .features__bgmark_courses {
      -webkit-transform: translate(1em, 4.8em);
          -ms-transform: translate(1em, 4.8em);
              transform: translate(1em, 4.8em); }
    .features__bgmark_minigroup {
      -webkit-transform: translate(3em, -1em);
          -ms-transform: translate(3em, -1em);
              transform: translate(3em, -1em); }
    .features__bgmark_topPlaces {
      -webkit-transform: translate(4em, -7em);
          -ms-transform: translate(4em, -7em);
              transform: translate(4em, -7em); }
    .features__bgmark_teachers {
      -webkit-transform: translate(5.4em, 4.8em);
          -ms-transform: translate(5.4em, 4.8em);
              transform: translate(5.4em, 4.8em); } }

@media (max-width: 992px) {
  .features__fiveYears {
    margin: 0 auto 10em; }
  .features__100students {
    margin: 0 auto 10em; }
  .features__minigroup {
    margin: 0 auto 18em; }
  .features__topPlaces {
    margin: 0 auto 1.6em; }
  .features__famAtm {
    margin: 0 auto 18em; }
  .features__courses {
    margin: 0 auto 9em; }
  .features__bgmark_fiveYears {
    -webkit-transform: translateX(5em);
        -ms-transform: translateX(5em);
            transform: translateX(5em); }
  .features__bgmark_100students {
    -webkit-transform: translateX(6em);
        -ms-transform: translateX(6em);
            transform: translateX(6em); }
  .features__bgmark_minigroup {
    -webkit-transform: translateX(6em);
        -ms-transform: translateX(6em);
            transform: translateX(6em); }
  .features__bgmark_topPlaces {
    -webkit-transform: translate(16em, -7em);
        -ms-transform: translate(16em, -7em);
            transform: translate(16em, -7em); }
  .features__bgmark_famAtm {
    -webkit-transform: translate(11em, 5em);
        -ms-transform: translate(11em, 5em);
            transform: translate(11em, 5em); }
  .features__bgmark_courses {
    -webkit-transform: translate(15em, 0);
        -ms-transform: translate(15em, 0);
            transform: translate(15em, 0); }
  .features__text_fiveYears {
    -webkit-transform: translate(0.6em, 2.6em);
        -ms-transform: translate(0.6em, 2.6em);
            transform: translate(0.6em, 2.6em); }
  .features__text_100students {
    -webkit-transform: translate(-2.8em, 2.7em);
        -ms-transform: translate(-2.8em, 2.7em);
            transform: translate(-2.8em, 2.7em); }
  .features__text_minigroup {
    -webkit-transform: translate(-2.3em, 2.5em);
        -ms-transform: translate(-2.3em, 2.5em);
            transform: translate(-2.3em, 2.5em); }
  .features__text_topPlaces {
    -webkit-transform: translate(-6em, 2.2em);
        -ms-transform: translate(-6em, 2.2em);
            transform: translate(-6em, 2.2em); }
  .features__text_famAtm {
    -webkit-transform: translate(-3em, 7em);
        -ms-transform: translate(-3em, 7em);
            transform: translate(-3em, 7em); }
  .features__text_courses {
    -webkit-transform: translate(-10.8em, 4.6em);
        -ms-transform: translate(-10.8em, 4.6em);
            transform: translate(-10.8em, 4.6em); } }

@media (max-width: 460px) {
  .features__title {
    font-size: 3.4em;
    margin: 0 auto 2.2em; } }

.reviews {
  margin-top: 4em;
  margin-bottom: 19.5em; }
  .reviews__title {
    font-family: 'Amazing Grotesk Demi', sans-serif;
    font-size: 4em;
    max-width: 90%;
    margin: 0 auto;
    text-align: center; }
  .reviews__photo {
    width: 80.4em;
    height: 43.3em;
    -webkit-border-radius: 2.6em;
            border-radius: 2.6em;
    overflow: hidden;
    margin: 5em auto;
    -webkit-box-shadow: 0.1em 0.1em 4em rgba(1, 41, 95, 0.3);
            box-shadow: 0.1em 0.1em 4em rgba(1, 41, 95, 0.3);
    background-image: url("../img/photo/kinder.jpg");
    background-repeat: no-repeat;
    background-position-x: 49em; }
  .reviews__content {
    background-image: url("../img/bg/review-blue-bg.svg");
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    color: #ffffff;
    padding: 12em 0 0 9em; }
  .reviews__subtitle {
    font-family: 'Lato Bold', sans-serif;
    font-size: 2.8em;
    margin-bottom: 1.4em; }
  .reviews__text {
    font-family: 'Lato Light', sans-serif;
    font-size: 2.4em;
    max-width: 14em;
    line-height: 1.3; }
  .reviews__slider {
    position: relative; }
  .reviews__pageCounter {
    position: absolute;
    left: 50%;
    bottom: -1.6em;
    width: 1.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.6em;
    -webkit-transform: translateX(-0.5em);
        -ms-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .reviews__count {
    color: #2081C3; }

.arrow {
  position: absolute;
  width: 10.4em;
  height: 3em;
  bottom: -5em;
  z-index: 2;
  background-repeat: no-repeat;
  background-position-y: 1em; }
  .arrow:hover {
    cursor: pointer; }
  .arrow_prev {
    left: 50%;
    -webkit-transform: translateX(-19.7em);
        -ms-transform: translateX(-19.7em);
            transform: translateX(-19.7em);
    background-image: url("../img/arrow_left.svg"); }
  .arrow_next {
    left: 50%;
    background-image: url("../img/arrow_left.svg");
    -webkit-transform: rotate(180deg) translateX(-8.6em);
        -ms-transform: rotate(180deg) translateX(-8.6em);
            transform: rotate(180deg) translateX(-8.6em); }

/* ------------------------------------------------------------------- */
/* Reveiws Responsive */
@media (max-width: 992px) {
  .reviews__photo {
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media (max-width: 890px) {
  .reviews__photo {
    background-image: none;
    width: 49em; } }

@media (max-width: 580px) {
  .arrow {
    width: 6em; }
    .arrow_prev {
      -webkit-transform: translateX(-13em);
          -ms-transform: translateX(-13em);
              transform: translateX(-13em); }
    .arrow_next {
      -webkit-transform: rotate(180deg) translateX(-7.2em);
          -ms-transform: rotate(180deg) translateX(-7.2em);
              transform: rotate(180deg) translateX(-7.2em); }
  .reviews__content {
    padding: 8em 7em; }
  .reviews__photo {
    width: 40em; } }

@media (max-width: 485px) {
  .reviews__content {
    padding: 6em 4em; }
  .reviews__photo {
    width: 30em;
    height: 28em; }
  .reviews__subtitle {
    font-size: 2.2em;
    margin-bottom: 1em; }
  .reviews__text {
    font-size: 1.8em; } }

@media (max-width: 380px) {
  .reviews__content {
    padding: 4em 3em; }
  .reviews__photo {
    width: 23.6em; } }

/* ------------------------------------------------------------ */
/* Contacts and form */
.contacts {
  margin-bottom: 25.5em;
  position: relative;
  /* Form */ }
  .contacts__title {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Lato Heavy', sans-serif;
    font-size: 3.6em;
    text-align: center; }
  .contacts__card {
    position: absolute;
    display: block;
    width: 113em;
    top: 11.4em;
    padding: 4em 7.2em 7.5em;
    left: 50%;
    -webkit-transform: translateX(-56.5em);
        -ms-transform: translateX(-56.5em);
            transform: translateX(-56.5em);
    -webkit-border-radius: 2.6em;
            border-radius: 2.6em;
    z-index: 2;
    background-color: #ffffff;
    -webkit-box-shadow: 0.1em 0.1em 4em rgba(1, 41, 95, 0.3);
            box-shadow: 0.1em 0.1em 4em rgba(1, 41, 95, 0.3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .contacts__card_block {
      height: 100%; }
  .contacts__logo {
    margin-bottom: 2.7em; }
  .contacts__data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2em; }
  .contacts__text:not(:first-child) {
    margin-top: 2.2em; }
  .contacts__text a {
    color: #01295F; }
    .contacts__text a:hover {
      -webkit-text-decoration-line: none;
              text-decoration-line: none; }
  .contacts__star {
    margin: 0 1em 0 0;
    float: left; }
  .contacts__descr {
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.8em;
    line-height: 1.16;
    max-width: 12em; }
  .contacts__link:hover {
    cursor: pointer; }
  .contacts__locate {
    margin: 0 0 0 1.6em; }
  .contacts__map {
    width: 47.8em;
    height: 28em;
    -webkit-border-radius: 2.6em;
            border-radius: 2.6em;
    overflow: hidden; }
    .contacts__map iframe {
      width: 100%;
      height: 100%;
      border: none; }
  .contacts__subtitle {
    font-family: 'Lato Bold', sans-serif;
    font-size: 2.4em;
    width: 100%;
    margin: 1em 0 1.9em; }
  .contacts__form {
    width: 44.3em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contacts__form input {
      display: block; }
  .contacts #name, .contacts #email, .contacts #message {
    outline: none;
    -webkit-border-radius: 2.6em;
            border-radius: 2.6em;
    font-family: 'Lato Light', sans-serif;
    font-size: 1.4em;
    border: none;
    background-color: #EDEDED;
    margin: 0 0 1em;
    padding: 1.4em; }
  .contacts #name, .contacts #email {
    height: 3.5em; }
  .contacts #message {
    height: 13em;
    -o-text-overflow: clip;
       text-overflow: clip;
    resize: none; }

/* -------------------------- */
/* Contacts Responsive */
@media (max-width: 1150px) {
  .contacts {
    margin-bottom: 60em; }
    .contacts__card {
      width: 53em;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 6em 4em; }
      .contacts__card_left {
        margin-bottom: 2em; }
    .contacts__map {
      width: 100%; }
    .contacts__subtitle {
      text-align: center;
      margin: 1em 0 1em; }
    .contacts__form {
      width: 100%; } }

@media (max-width: 550px) {
  .contacts {
    margin-bottom: 36em; }
    .contacts__card {
      width: 90%; }
    .contacts__data {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .contacts__map {
      display: none; }
    .contacts__text:not(:last-child) {
      margin-bottom: 2.2em; }
    .contacts__descr {
      font-size: 1.6em; }
    .contacts__subtitle {
      font-size: 2em;
      margin: 0 0 1em; } }

.footer {
  max-width: 192.5em;
  height: 68em;
  margin: 0 auto;
  padding: 0.5em;
  background-image: url("../img/bg/footer-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .footer__copyright {
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.4em;
    color: #ffffff;
    text-align: center; }

@media (max-width: 1340px) {
  .row-padding {
    padding: 0 4em; } }
