.bg_container
  margin: 0 auto
  max-width: 192em
  overflow: hidden
  height: 192em
  width: 100%
  opacity: 0
  background-image: url(../img/bg/main_bg.png)
  background-repeat: no-repeat
  background-position-x: 50%
  background-position-y: 0