@font-face 
  font-family: 'Amazing Grotesk Demi'
  src: url('../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.eot') format('opentype')
  src: url('../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.woff') format('woff')
  src: url('../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.ttf') format('truetype')
  font-weight: 700
  font-style: normal